---
import type {CollectionEntry} from 'astro:content';


const {data} = Astro.props.project;
---
<div class="lg:flex">

    <div class="flex flex-col lg:mx-6">
        <h3 class="text-white-800">
            <a href={`${data.link}`} class="text-xl font-semibold text-white-800 hover:underline dark:text-white ">
                {data.title}
            </a>
        </h3>
        <p>
            {data.excerpt}
        </p>
    </div>
</div>
